# Editor and OS files
/.vscode/c_cpp_properties.json
/.vscode/settings.json
/.idea/
/.svace-dir/
.DS_Store

# Local inputs and scratch files
/input.txt
/test/
/.local/

# Build outputs
/bin/
/builds/
/tests/bin/

# Generated compiler artifacts
*.asm
*.bin
*.ir
*.lir
*.ast
*.symtab
*.log
*.o
*.s

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# VS Code extension
/vscode/node_modules/
/vscode/out/
package-lock.json

# Documentation
/docs/gifs/
/docs/back/.build/
/docs/back/cpl_docs_backend

# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.gz
*.out
